* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: black;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
body .wrapper {
  position: relative;
  width: 100%;
  max-width: 900px;
}
body .wrapper .search-popup {
  position: absolute;
  padding: 0.5em 1.5em;
  margin: 0 2em;
  display: none;
  align-items: flex-end;
  flex-direction: column;
  transform: translateY(0);
  right: 0;
  font-size: 1.2rem;
  background-color: black;
  z-index: 1;
}
body .wrapper .search-popup .search-note {
  position: relative;
  border: none;
  padding: 0.4em;
  margin-top: 0.3em;
  margin-left: 0.3em;
  color: #fff;
  background-color: rgb(34, 34, 34);
}
body .wrapper .search-popup .fa-chevron-right {
  position: absolute;
  top: 57%;
  left: 0.3em;
}
body .wrapper .search-popup .fa-xmark-popup {
  position: absolute;
  top: 40%;
  right: -1em;
  padding: 0.5em;
  font-size: 1.6rem;
  cursor: pointer;
  transition: color 0.3s;
}
body .wrapper .search-popup .fa-xmark-popup:hover {
  color: rgb(226, 192, 0);
}
body .wrapper .active {
  transform: translateY(6em);
  display: flex;
}
body .wrapper .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2em 1em 2em;
  margin-bottom: 2em;
  background-color: black;
  z-index: 10;
}
body .wrapper .heading__title {
  font-size: 2.5rem;
}
body .wrapper .heading__button-box button {
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
  font-size: 2rem;
  margin-left: 0.4em;
  padding: 0.4em;
}
body .wrapper .heading__button-box button:hover {
  color: rgb(226, 192, 0);
}
body .wrapper .heading__back-btn {
  display: none;
}
body .wrapper .note-wrapper {
  position: relative;
}
body .wrapper .note-wrapper .note-area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body .wrapper .note-wrapper .note-area .note {
  display: inline-block;
  width: 26rem;
  margin: 2em;
  border-radius: 8px;
  background-color: rgb(48, 48, 48);
}
body .wrapper .note-wrapper .note-area .note__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  background-color: rgb(34, 34, 34);
}
body .wrapper .note-wrapper .note-area .note__title {
  font-size: 1.4rem;
  font-weight: bold;
}
body .wrapper .note-wrapper .note-area .note button {
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
  padding: 0.3em;
}
body .wrapper .note-wrapper .note-area .note button:hover {
  color: rgb(226, 192, 0);
}
body .wrapper .note-wrapper .note-area .note__return-btn {
  font-size: 1.4rem;
}
body .wrapper .note-wrapper .note-area .note__delete-btn {
  font-size: 1.6rem;
}
body .wrapper .note-wrapper .note-area .note__body {
  position: relative;
  padding: 1.1em;
  font-size: 1.5rem;
  cursor: pointer;
}
body .wrapper .note-wrapper .note-area .note__footer {
  font-size: 1.3rem;
  padding: 0.5em;
  text-align: center;
  background-color: rgb(34, 34, 34);
}
body .wrapper .note-wrapper .note-area .note__body::before {
  display: none;
  position: absolute;
  top: -1em;
  right: -1em;
  width: 30%;
  content: "edit note";
  text-align: center;
  font-size: 1rem;
  padding: 0.5em 0.8em;
  border-radius: 5px;
  background-color: #fff;
  color: black;
}
body .wrapper .note-wrapper .note-area .note__body:hover::before {
  display: block;
}
body .wrapper .note-wrapper .popup {
  background-color: black;
  position: absolute;
  width: 100%;
  padding: 2em;
  top: 0;
  left: 0;
  display: flex;
  display: none;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
body .wrapper .note-wrapper .popup__heading {
  margin-bottom: 1em;
  font-size: 2rem;
}
body .wrapper .note-wrapper .popup label {
  font-size: 1.6rem;
}
body .wrapper .note-wrapper .popup textarea,
body .wrapper .note-wrapper .popup input {
  min-width: 90%;
  max-width: 90%;
  margin: 0.5em 0 1.5em 0;
  padding: 0.7em 1em 0 1em;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(48, 48, 48);
  color: #fff;
}
body .wrapper .note-wrapper .popup #popup-title {
  min-width: 70%;
  max-width: 70%;
  padding: 1rem;
  text-align: center;
}
body .wrapper .note-wrapper .popup #popup-text {
  min-height: 15rem;
  max-height: 18rem;
}
body .wrapper .note-wrapper .popup__error {
  visibility: hidden;
  font-size: 1.6rem;
  color: rgb(226, 192, 0);
}
body .wrapper .note-wrapper .popup__button-box {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 2em;
}
body .wrapper .note-wrapper .popup__button-box button {
  font-size: 1.6rem;
  padding: 1em 2em;
  background: transparent;
  font-weight: bold;
  color: #fff;
  border: none;
  cursor: pointer;
}
body .wrapper .note-wrapper .popup__button-box button:hover {
  color: rgb(226, 192, 0);
}
body .wrapper .note-wrapper .popup__edit-done-btn {
  display: none;
}
body .wrapper .note-wrapper .trash-area {
  display: flex;
  display: none;
  justify-content: center;
  flex-wrap: wrap;
}
body .wrapper .note-wrapper .trash-area__heading {
  margin-bottom: 2em;
}
body .wrapper .note-wrapper .trash-area .note {
  display: inline-block;
  width: 26rem;
  margin: 2em;
  border-radius: 8px;
  background-color: rgb(48, 48, 48);
}
body .wrapper .note-wrapper .trash-area .note__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  background-color: rgb(34, 34, 34);
}
body .wrapper .note-wrapper .trash-area .note__title {
  font-size: 1.4rem;
  font-weight: bold;
}
body .wrapper .note-wrapper .trash-area .note button {
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
  padding: 0.3em;
}
body .wrapper .note-wrapper .trash-area .note button:hover {
  color: rgb(226, 192, 0);
}
body .wrapper .note-wrapper .trash-area .note__return-btn {
  font-size: 1.4rem;
}
body .wrapper .note-wrapper .trash-area .note__delete-btn {
  font-size: 1.6rem;
}
body .wrapper .note-wrapper .trash-area .note__body {
  position: relative;
  padding: 1.1em;
  font-size: 1.5rem;
  cursor: pointer;
}
body .wrapper .note-wrapper .trash-area .note__footer {
  font-size: 1.3rem;
  padding: 0.5em;
  text-align: center;
  background-color: rgb(34, 34, 34);
}
body .wrapper .footer {
  position: fixed;
  width: 100%;
  max-width: 800px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  padding: 1em 2em;
  display: flex;
  font-size: 1.6rem;
  background-color: black;
}
body .wrapper .footer__count-note {
  visibility: hidden;
}
body .wrapper .footer__button-box {
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  right: 1.5em;
}
body .wrapper .footer__button-box button {
  position: relative;
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
  font-size: 2rem;
  padding: 0.5em;
  font-weight: bold;
}
body .wrapper .footer__button-box button:hover {
  color: rgb(226, 192, 0);
}
body .wrapper .footer__button-box button:hover .circle {
  color: #fff;
}
body .wrapper .footer__remove-trash {
  display: none;
}
body .wrapper .footer__show-trash {
  display: flex;
}
body .wrapper .footer__show-trash .circle {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  right: 0.2em;
  bottom: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  border-radius: 50%;
  background-color: red;
}
body .wrapper .footer__show-trash .circle .count-trash {
  font-size: 1rem;
}

@media (orientation: portrait) {
  body .wrapper .note-wrapper .popup {
    height: 100vh;
  }
}
@media (min-width: 557px) {
  body .wrapper .search-popup {
    font-size: 1.5rem;
  }
  body .wrapper .search-popup .search-note {
    font-size: 1.5rem;
  }
  body .wrapper .search-popup .fa-xmark-popup {
    position: absolute;
    top: 37%;
    font-size: 2rem;
  }
  body .wrapper .active {
    transform: translateY(5em);
  }
  body .wrapper .note-wrapper .note-area {
    align-items: start;
  }
  body .wrapper .note-wrapper .trash-area {
    align-items: start;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  body .wrapper .note-wrapper .popup {
    height: 100vh;
  }
}
@media (min-width: 768px) {
  body .wrapper .heading__title {
    font-size: 3.5rem;
  }
  body .wrapper .heading__button-box button {
    border: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s;
    font-size: 2.8rem;
  }
  body .wrapper .note-wrapper .note-area .note {
    width: 24rem;
  }
  body .wrapper .note-wrapper .note-area .note__body {
    font-size: 1.6rem;
  }
  body .wrapper .note-wrapper .note-area .note__footer {
    font-size: 1.4rem;
  }
  body .wrapper .note-wrapper .popup__heading {
    font-size: 3.5rem;
  }
  body .wrapper .note-wrapper .popup label {
    font-size: 1.8rem;
  }
  body .wrapper .note-wrapper .popup textarea {
    font-size: 1.8rem;
  }
  body .wrapper .note-wrapper .popup__error {
    font-size: 1.8rem;
  }
  body .wrapper .note-wrapper .popup__button-box button {
    font-size: 1.8rem;
  }
  body .wrapper .footer {
    font-size: 1.8rem;
  }
  body .wrapper .footer__button-box button {
    font-size: 2.2rem;
  }
}/*# sourceMappingURL=main.css.map */