@import './colors';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $background;
	color: $font;
	font-family: 'Poppins', sans-serif;
}
