@import './colors';
@import './mixins';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	height: 100vh;
	background-color: $background-color;
	color: $font-color;
	font-family: 'Poppins', sans-serif;
	.wrapper {
		position: relative;
		width: 100%;
		max-width: 900px;
		.search-popup {
			position: absolute;
			padding: 0.5em 1.5em;
			margin: 0 2em;
			display: none;
			align-items: flex-end;
			flex-direction: column;
			transform: translateY(0);
			right: 0;
			font-size: 1.2rem;
			background-color: $background-color;
			z-index: 1;

			.search-note, .search-trash-note {
				position: relative;
				border: none;
				padding: 0.4em;
				font-size: 1.6rem;
				margin-top: 0.3em;
				margin-left: 0.3em;
				color: $font-color;
				background-color: $dark-note-color;
			}
			.search-trash-note{
				display: none;
			}
			.fa-chevron-right {
				position: absolute;
				top: 57%;
				left: 0.3em;
			}
			.fa-xmark-popup {
				position: absolute;
				top: 40%;
				right: -1em;
				padding: 0.5em;
				font-size: 1.6rem;
				cursor: pointer;
				transition: color 0.3s;
			}
			.fa-xmark-popup:hover {
				color: $hover-color;
			}
		}
		.active {
			transform: translateY(6em);
			display: flex;
		}

		.heading {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 2em 2em 1em 2em;
			margin-bottom: 2em;
			background-color: $background-color;
			z-index: 10;

			&__title {
				font-size: 2.5rem;
			}
			&__button-box {
				button {
					@include btn-style;
					font-size: 2rem;
					margin-left: 0.4em;
					padding: 0.4em;
				}
				button:hover {
					color: $hover-color;
				}
			}
			&__back-btn {
				display: none;
			}
		}
		.note-wrapper {
			position: relative;

			.note-area {
				display: flex;
				// display: none;
				justify-content: center;
				flex-wrap: wrap;

				.note {
					@include note-style;
					&__body::before {
						display: none;
						position: absolute;
						top: -1em;
						right: -1em;
						width: 30%;
						content: 'edit note';
						text-align: center;
						font-size: 1rem;
						padding: 0.5em 0.8em;
						border-radius: 5px;
						background-color: $font-color;
						color: $background-color;
					}

					&__body:hover::before {
						display: block;
					}
				}
			}
			.popup {
				background-color: $background-color;
				position: absolute;
				width: 100%;
				// height: 100vh;
				padding: 2em;
				top: 0;
				left: 0;
				display: flex;
				display: none;
				justify-content: space-around;
				align-items: center;
				flex-direction: column;

				&__heading {
					margin-bottom: 1em;
					font-size: 2rem;
				}
				label {
					font-size: 1.6rem;
				}
				textarea,
				input {
					min-width: 90%;
					max-width: 90%;
					margin: 0.5em 0 1.5em 0;
					padding: 0.7em 1em 0 1em;
					font-size: 1.6rem;
					border: none;
					border-radius: 5px;
					background-color: $note-color;
					color: $font-color;
				}
				#popup-title {
					min-width: 70%;
					max-width: 70%;
					padding: 1rem;
					text-align: center;
				}
				#popup-text {
					font-family: 'Poppins', sans-serif;
					min-height: 15rem;
					max-height: 18rem;
				}
				&__error {
					visibility: hidden;
					font-size: 1.6rem;
					color: $hover-color;
				}
				&__button-box {
					display: flex;
					width: 100%;
					justify-content: space-around;

					padding: 2em;
					button {
						font-size: 1.6rem;
						padding: 1em 2em;
						background: transparent;
						font-weight: bold;
						color: $font-color;
						border: none;
						cursor: pointer;
					}
					button:hover {
						color: $hover-color;
					}
				}
				&__edit-done-btn {
					display: none;
				}
			}
			.trash-area {
				display: flex;
				display: none;
				justify-content: center;
				flex-wrap: wrap;

				&__heading {
					margin-bottom: 2em;
				}
				.note {
					@include note-style;
				}
			}
		}
		.footer {
			position: fixed;
			width: 100%;
			max-width: 800px;
			bottom: 0;
			left: 50%;
			transform: translate(-50%);
			padding: 1em 2em;
			display: flex;
			// display: none;
			font-size: 1.6rem;
			background-color: $background-color;

			&__count-note {
				visibility: hidden;
			}
			&__button-box {
				top: 50%;
				transform: translate(0, -50%);
				position: absolute;
				right: 1.5em;

				button {
					position: relative;
					@include btn-style;
					font-size: 2rem;
					padding: 0.5em;
					font-weight: bold;
				}
				button:hover {
					color: $hover-color;
				}
				button:hover .circle {
					color: $font-color;
				}
			}
			&__remove-trash {
				display: none;
			}
			&__show-trash {
				display: flex;
				.circle {
					position: absolute;
					width: 1.5rem;
					height: 1.5rem;
					right: 0.2em;
					bottom: 0.2em;
					display: flex;
					justify-content: center;
					align-items: center;
					visibility: hidden;
					border-radius: 50%;
					background-color: red;
					.count-trash {
						font-size: 1rem;
					}
				}
			}
		}
	}
}

@media (orientation: portrait) {
	body {
		.wrapper {
			.note-wrapper {
				.popup {
					height: 100vh;
				}
			}
		}
	}
}

@media (min-width: 557px) {
	body {
		.wrapper {
			.search-popup {
				font-size: 1.5rem;
				.search-note {
					font-size: 1.5rem;
				}
				.fa-xmark-popup {
					position: absolute;
					top: 37%;
					font-size: 2rem;
				}
			}
			.active {
				transform: translateY(5em);
			}
			.note-wrapper {
				.note-area {
					align-items: start;
				}
				.trash-area {
					align-items: start;
				}
			}
		}
	}
}
@media (min-width: 768px) and (orientation: landscape) {
	body {
		.wrapper {
			.note-wrapper {
				.popup {
					height: 100vh;
				}
			}
		}
	}
}
@media (min-width: 768px) {
	body {
		.wrapper {
			.heading {
				&__title {
					font-size: 3.5rem;
				}
				&__button-box {
					button {
						@include btn-style;
						font-size: 2.8rem;
					}
				}
			}
			.note-wrapper {
				.note-area {
					.note {
						width: 24rem;

						&__body {
							font-size: 1.6rem;
						}
						&__footer {
							font-size: 1.4rem;
						}
					}
				}
				.popup {
					&__heading {
						font-size: 3.5rem;
					}
					label {
						font-size: 1.8rem;
					}
					textarea {
						font-size: 1.8rem;
					}

					&__error {
						// display: none;
						font-size: 1.8rem;
					}
					&__button-box {
						button {
							font-size: 1.8rem;
						}
					}
				}
			}
			.footer {
				font-size: 1.8rem;

				&__button-box {
					button {
						font-size: 2.2rem;
					}
				}
			}
		}
	}
}
